* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 0, 0.9);
}
.container {
  max-width: 466px;
  /* padding: 15px; */
  background-color: black;
  border-radius: 20px;
  border: 2px solid white;
  display: flex;
  text-align: center;
}
.calculator {
  margin-top: 30px;
}
.value input {
  max-width: 400px;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 20px;
  font-size: 80px;
  text-align: right;
  color: white;
  background-color: #888;
  margin-bottom: 50px;
  border-radius: 20px;

}
span {
  display: inline-block;
  text-align: center;
  padding: 3px;
  font-size: 50px;
  color: white;
  cursor: pointer;
  border: 2px solid;
  border-radius: 20px;
  width: 70px;
  height: 70px;
  margin: 10px;
  transition: 0.3 s;
}
.num-c {
  width: 255px;
}
 .sum {
  width: 160px;
}
span:hover {
    color: black;
    background-color: white;
    transition: .3s;
    box-shadow: 0px 0px 3px 3px white;
}
