*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bkg:#232946;
    --dark:#121629;
    --purple:#b8c1ec;
    --pink:#eebbc3;
    --white:#fff;
}
body {
    background-color: var(--bkg);
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-size: 2rem;

}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin: 1rem;
}
.clock--wrapper {
    display: grid;
    place-items: center;
    gap: 2rem;
    color: var(--white);
}
.clockface {
    filter: drop-shadow(2px 10px 10px var(--dark));
}
.ring--seconds {
    fill: var(--dark);
    stroke: var(--pink);
    stroke-dasharray:.1 .9 ;
    stroke-dashoffset : .05;
    stroke-width :5;
}
.ring--hours {
    fill: transparent;
    stroke: var(--purple);
    stroke-dasharray:.05 .95 ;
    stroke-dashoffset : .025;
    stroke-width :10;
}
.ring--center {
    fill: var(--pink);
    stroke: var(--white);
   
    stroke-width :2.5;
}
.hand {
    stroke: var(--pink);
    stroke-linecap: round;
}
.hand--minute {
    transform: rotate(90deg);
    stroke-width: 5;
    stroke: var(--purple);
}
.hand--hours {
    transform: rotate(40deg);
    stroke-width: 5;
    stroke: var(--white);
}
.date {
    fill: var(--white);
    font-size: 1.5rem;
}
.type {
    fill: var(--pink);
    font-size: .8rem;
    text-transform: uppercase;
}